@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Kiwi Maru";
}
* {
  border-color: #1a1a2e;
}
.icon {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
/* https://scrollbar.app/ Got some generated css scrollbar :D */

.scrollable {
  --sb-track-color: transparent;
  --sb-thumb-color: #a2a199;
  --sb-size: 12px;
}

.scrollable::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollable {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
  margin-block: 6px;
}
